server:
  port: 8092
spring:
  application:
    name: HotelService
  datasource:
    url: jdbc:h2:mem:sample
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show-sql: true
        format_sql: true
        default_schema: public
  liquibase:
      change-log: db/changelog/db.changelog-master.yaml
      default-schema: public
  h2:
    console:
      enabled: true
springdoc:
  api-docs:
    path: /api-docs


